<section class="main">
  <div class="spotlight">
    <div class="content">
      <header class="major">
        <h2>Java Collections Framework</h2>
      </header>
      <h3>На курсе вы</h3>
      <ul>
        <li>Узнаете о базовых структурах данных</li>
        <li>Научитесь выбирать структуру данных для оптимального решения любой практической задачи</li>
        <li>Узнаете асимптотическую сложность каждой операции над коллекцией</li>
      </ul>
      <ul class="actions special">
        <li><a routerLink="/enroll-course/f9494c46-f2c1-4426-ab55-34d15ff8fdcf" class="button primary">Записаться</a></li>
        <li><a routerLink="/courses/f9494c46-f2c1-4426-ab55-34d15ff8fdcf" class="button">Узнать подробнее</a></li>
      </ul>
    </div>
    <span class="image"><img src="../../../assets/img/java_collections_framework.png" alt=""/></span>
  </div>
</section>
