<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <span class="logo"><img src="assets/img/logo.svg" alt=""/></span>
        <h1>Proactive Stream</h1>
        <p>Online школа программирования</p>
    </header>

    <app-nav></app-nav>

    <div id="main">
        <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <section>
            <h2>О преподавателе</h2>
            <p>Курс ведет преподаватель с 9 летним опытом практической промышленной разработки</p>
            <ul class="actions">
                <li><a routerLink="/coaches" class="button">Узнать больше</a></li>
            </ul>
        </section>
        <section>
            <h2>Контакты</h2>
            <ul class="icons">
                <li><a href="https://www.instagram.com/_._alex_sun_._/" target="_blank" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
            </ul>
        </section>
        <p class="copyright">&copy; Proactive Stream | Online school</p>
    </footer>

</div>
