<section class="main">
    <header class="major">
        <h2>О преподавателе</h2>
    </header>
    <p>Курс ведет преподаватель с 9 летним опытом практической промышленной разработки</p>
    <h3>Основыне языки программирования</h3>
    <ul>
        <li>Java</li>
        <li>JavaScript</li>
        <li>Kotlin</li>
        <li>TypeScript</li>
    </ul>
    <h3>Известные компании в которых работал</h3>
    <ul>
        <li>EPAM Systems</li>
        <li>IBA Group</li>
    </ul>
    <footer class="major">
        <ul class="actions special">
            <li><a routerLink="/enroll-course/f9494c46-f2c1-4426-ab55-34d15ff8fdcf" class="button primary">Записаться</a></li>
        </ul>
    </footer>
</section>
